{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'annotation:index'  %}">
      <img src="{% static 'annotation/assets/svg/edtlr.svg' %}" alt="eDTLR" width="75" />
    </a>

    <!-- Toggler button for collapsed menu on smaller screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu items on the right -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Home page menu entry -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'annotation:index' %}">
            {% translate 'Home' %}
          </a>
        </li>
        <!-- Admin menu entry -->
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">
            {% translate 'Admin panel' %}
          </a>
        </li>
        {% endif %}

        <!-- Resources dropdown menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {% translate 'Resources' %}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="helpDropdown">
            <!-- Annotation manual menu entry -->
            <li class="nav-item">
              <a class="nav-link"
                href="https://drive.google.com/file/d/1cxQDZZKmAvrTmk9CgQpX1MMcU_DHKFsf/view?usp=sharing"
                target="_blank">
                {% translate 'Annotation guide' %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://dlr1.solirom.ro/static/html/DLR/DLR-bibliography.html" target="_blank">
                {% translate 'DLR Bibliography' %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://dlr1.solirom.ro/static/html/DA/DA-bibliography.html" target="_blank">
                {% translate 'DA Bibliography' %}
              </a>
            </li>
          </ul>
        </li>
        <!-- Dropdown menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="{% static 'annotation/assets/png/avatar.png' %}" alt="User Avatar" class="rounded-circle"
              width="30" height="30">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'password_change' %}">
                {% translate 'Change password' %}
              </a>
            </li>
            <li>
              <form class="d-flex" role="logout" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-link" type="submit">
                  <i class="bi bi-box-arrow-left"></i>
                  {% translate 'Logout' %}
                </button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Local Variables: -->
<!-- gptel-model: mistral-small -->
<!-- gptel--backend-name: "Mistral LeChat" -->
<!-- gptel--bounds: nil -->
<!-- End: -->
