#editor-container{
    margin-top: 25px;
}

#editor{
    display: none !important;
}

.superscript{
    position: relative;
    top: -0.5em;
    font-size: 75%;
}
.subscript{
    position: relative;
    top: 0.5em;
    font-size: 75%;
}

.acronym{
    background-color: antiquewhite;
}

.spaced{
    letter-spacing: 3px;
}

#buttons-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn-save-annotation{
    margin-left: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-error{
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: var(--bs-form-invalid-color);
}

.CodeMirror{
    height: 75vh;
}

#editor-container{
    margin-top: 0px;
}

.dropdown-menu{
    z-index: 1024;
}
