{% extends "./annotation-base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Annotate text"  %}{% endblock %}

{% block links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block content %}
<main>
<div id="editor-container" class="row">
  <div class="col-md-6">
    <div id="image-container" class="carousel slide carousel-fade" data-bs-theme="dark" data-wrap="true">
      <div class="carousel-inner">
	<div class="carousel-item">
	  <img id="prev-image" src="" class="d-block w-100" alt="">
	</div>
	<div class="carousel-item active">
	  <img id="image" src="" class="d-block w-100" alt="">
	</div>
	<div class="carousel-item">
	  <img id="next-image" src="" class="d-block w-100" alt="">
	</div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#image-container" data-bs-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#image-container" data-bs-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <textarea id="editor">

      </textarea>
    <!-- <div id="editor"> -->
    <!-- </div> -->
  </div>
</div>
<!-- buttons -->
<div id="buttons-row" class="row align-items-end justify-content-start">
  <div class="col-md-4 offset-md-8">
    <div class="d-flex flex-row-reverse bd-highlight">
      <form method="post" action="{% url 'annotation:save' %}">
	{% csrf_token %}
	<input type="hidden" name="contents" value="">
	<input type="hidden" name="page-id" value="{{page_id}}">
	<button type="submit" id="btn-save-annotation"
		class="btn btn-primary" value="" >
	  <i class="bi bi-save"></i>
	  {% translate 'Save annotation' %}
	</button>
      </form>
      <form method="post" action="{% url 'annotation:mark-complete' %}">
	{% csrf_token %}
	<input type="hidden" name="contents" value="">
	<input type="hidden" name="page-id" value="{{page_id}}">
	<button type="submit" id="btn-mark-complete"
		class="btn btn-success">
	  <i class="bi bi-check2"></i>
	  {% translate "Mark complete" %}
	</button>
      </form>
    </div>
  </div>
</div>
</main>
{% endblock %}

{% block page_scripts %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="{% static 'annotation/js/dom-utils.js' %}"></script>
<script src="{% static 'annotation/js/page-carousel.js' %}"></script>
<script src="{% static 'annotation/js/annotation-editor.js' %}"></script>
<script src="{% static 'annotation/js/annotation-flow.js' %}"></script>
<script>
  let annotationFlow = new AnnotationFlow('image-container', 'editor',
					  'btn-save-annotation', 'btn-mark-complete',
					  ['contents']);
  annotationFlow.initialize({{page_id}});

</script>
{% endblock %}
